/* تنسيق الاب للصفحة الرئيسية */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}
/* تنسيق القسم الاول للصفحة الرئيسية */
main section:nth-child(1){
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
main section:nth-child(1) hgroup{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10vh;
}
main section:nth-child(1) hgroup h1{
font-size: 7rem;
width: 100%;
}
main section:nth-child(1) hgroup p{
font-size: 1.5rem;
width: 90%;
}
main section:nth-child(1) hgroup button{
width: 30%;
height: 7vh;
border-radius: 11px;
background-color: #5B3E7B;
font-size: 1.6rem;
color: aliceblue;
transition: 0.3s;
}
main section:nth-child(1) hgroup button:hover{
background: #725895;
color: white;
cursor: pointer;
transform: translate(0,-5px);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main section:nth-child(1) svg{
    height: 60%;
}

/* تنسيق القسم الثاني للصفحة الرئيسية */
main section:nth-child(2){
width: 100%;
height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10vh;
background-color: #7BA05B;
color: aliceblue;
}
main section:nth-child(2) h2{
    font-size: 5.5rem;
}
.contemer-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contemer-card div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10vh;
}
.contemer-card div img{
    height: 40vh;
}
.contemer-card div a{
    border:1.5px solid aliceblue;
    background-color: transparent ;
    padding:1.5%;
    width: 14vw;
    height:7vh;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: #1e1b30;
    font-size: 15px;
    word-spacing: 2px;
    font-family: 'Noto Naskh Arabic';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.4s;
    font-size: 1.8rem;
    color: aliceblue;
}
.contemer-card div a:hover{
    border:1.5px solid #5B3E7B;
    background-color: #5B3E7B;
    color: white;
    transition: 0.4s;
    transform: translate(0,-10px);
}
/* تنسيق القسم الثالث للصفحة الرئيسية */
main section:nth-child(3){
width:100%;
height: 100vh;
display: flex;
align-items: center;
}
.cards-img{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.card-img{
width: 30%;
height: 100%;
background-size: cover;
border-radius: 25px;
color: aliceblue;
display: flex;
flex-direction: column;
justify-content: end;
align-items: end;
padding: 1.5%;
gap: 2%;
}
.card-img h3{
    font-size:2rem;
}
.card-img p{
    font-size: 1.5rem;
}
.card-img a{
width: 40%;
height:6%;
background: #d9d9d94d;
border-radius: 13px;
color: aliceblue;
font-size: 1.3rem;
cursor: pointer;
transition: 0.4s;
display: flex;
justify-content: center;
align-items: center;
}
.card-img a:hover{
    background: #d9d9d9;  
    transform: translate(0,-3px);
    color: #111;
}
.card-img:nth-child(1){
background: url(../imges/1.jpg)center;
background-size: cover;
}
.card-img:nth-child(2){
    background: url(../imges/2.jpg)center;
background-size: cover;

}
.card-img:nth-child(3){
    background: url(../imges/3.jpg)center;
    background-size: cover;


}

/* تناسق الصفحة مع احجام الشاشات */
@media (max-width:500px){
    main section:nth-child(1) svg{
        display: none;
    }
    main section:nth-child(1) hgroup{
        width: 100%;
    }
    main section:nth-child(1) hgroup h1{

    }
    main section:nth-child(1) hgroup p{
        width: 95%;
    }
    main section:nth-child(2) div:nth-child(2){
        flex-direction: column;
    }
    main section:nth-child(2) div:nth-child(2) svg{
        width: 90%;
    }

}