

/* تنسيق الاب للصفحة الرئيسية */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* تنسيق القسم الاول للصفحة الرئيسية */
main section:nth-child(1){
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
main section:nth-child(1) hgroup{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10vh;
}
main section:nth-child(1) hgroup h1{
font-size: 7rem;
width: 100%;
}
main section:nth-child(1) hgroup p{
font-size: 1.5rem;
width: 90%;
}
main section:nth-child(1) hgroup button{
width: 30%;
height: 7vh;
border-radius: 11px;
background-color: #6F2DBD;
font-size: 1.6rem;
color: aliceblue;
transition: 0.3s;
}
main section:nth-child(1) hgroup button:hover{
background: #95d3ce;
color: #6F2DBD;
cursor: pointer;
transform: translate(0,-5px);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main section:nth-child(1) svg{
    height: 60%;
}

/* تنسيق القسم الثاني للصفحة الرئيسية */
main section:nth-child(2){
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10vh;
}
main section:nth-child(2) h2{
    font-size: 5.5rem;
}
.contemer-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contemer-card div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10vh;
}
.contemer-card div svg{
    width: 100%;
}
.contemer-card div button{
    border:1.5px solid #6F2DBD;
    background-color: transparent ;
    padding:1.5%;
    width: 14vw;
    height:7vh;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    color: #1e1b30;
    font-size: 15px;
    word-spacing: 2px;
    font-family: 'Noto Naskh Arabic';
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.4s;
    font-size: 1.8rem;
}
.contemer-card div button:hover{
    background-color: #6F2DBD;
    color: white;
    transition: 0.4s;
    transform: translate(0,-10px);
}
/* تناسق الصفحة مع احجام الشاشات */
@media (max-width:500px){
    main section:nth-child(1) svg{
        display: none;
    }
    main section:nth-child(1) hgroup{
        width: 100%;
    }
    main section:nth-child(1) hgroup h1{

    }
    main section:nth-child(1) hgroup p{
        width: 95%;
    }
    main section:nth-child(2) div:nth-child(2){
        flex-direction: column;
    }
    main section:nth-child(2) div:nth-child(2) svg{
        width: 90%;
    }

}