@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

/* --------------------------------------تنسيق القائمة العلوية----------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #6F2DBD;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 50%;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #6F2DBD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
    z-index: 1;
    border-bottom: #111 1px solid;
}

header div {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header div {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3%;
}

header div i {
    font-size: 2rem;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}

header div i:hover {
    color: #B9FAF8;
    transform: translate(0, -2px);
}
/* اللغات والقائمة المنسدلة */
header div button {
    width: 8vw;
    height: 50%;
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    background-color: #B9FAF8;
    color: #6F2DBD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    position: relative;
    transition:border-radius 1s;
}
header div button:hover{
    border-radius:8px 8px 0 0;
}
header div button svg{
transition: 0.5s;
transform: rotate(360deg);
}
header div button:hover svg{
transform: rotate(180deg);
}
header div button ul {
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    top: 90%;
    background-color: #B9FAF8;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s;
    text-align: center;
    border-radius: 0 0 8px 8px;

}
header div button:hover ul {
    height:30vh;
    overflow-y: scroll;
}
header div button:hover ul::-webkit-scrollbar {
width: 1px;
}
header div button ul li{
    display: none;
    font-size: 1.5rem;
    transition: 0.4s;
}
header div button ul li:hover{
transform: translate(0,-3px);
color: #222;
}
header div button:hover ul li{
    display: block;
}

header div button svg {
    height: 25%;
}
header div button ul {

}

header>nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-click {
    display: none;
}

.main-menu {
    display: none;
}

header>nav ul {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}

header>nav ul hr {
    border: none;
    width: 1px;
    height: 5vh;
    background: linear-gradient(180deg, aliceblue, #6F2DBD);
    transform: rotate(180deg);
}

header>nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.logo {
    margin-left: 20px;
    height: 7vh;
    cursor: pointer;
}

header>nav ul li a {
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    transition: 0.5s;
}

header>nav ul li a:hover {
    transform: translate(0, -2px);
}

header>nav ul li a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #B9FAF8;
    position: absolute;
    right: 0;
    bottom: -4px;
    transition: 0.4s;
}

header>nav ul li a:hover::before {
    width: 100%;
}

/* --------------------------------------تنسيق اسفل الصفحة----------------------------------------------- */
footer {
    width: 100%;
    height: 40vh;
    background-color: #111;
    display: flex;
    padding: 3% 3% 0% 3%;
}
footer section:nth-child(1){
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    gap: 10%;
}

footer section:nth-child(1) div:nth-child(1){
height: 100%;
width: 20%; 
display: flex;
flex-direction: column;
align-items: end;
justify-content: center;
gap: 20%;
}
footer section:nth-child(1) div{
width: 25%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: end;
flex-wrap: wrap;
}
footer section:nth-child(1) div ul{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4%;
flex-wrap: wrap;
}
footer section:nth-child(1) div h3{
color: #6F2DBD;
font-size: xx-large;
}
footer section:nth-child(1) div ul li{
color: aliceblue;
width: 80%;
font-size: x-large;
list-style: none;
display: flex;
justify-content: right;
flex-direction: row-reverse;
gap: 5%;
border-right:1px solid #6F2DBD;
padding-right: 10px;
padding-bottom: 10px;
}
footer section:nth-child(1) div ul li:hover{

}
footer section:nth-child(1) div ul li a{
text-decoration: none;
color: aliceblue;
display: flex;
justify-content: center;
align-items: center;
}
footer section:nth-child(1) div:nth-child(1) form{
width: 100%;
display: flex;
flex-direction: column;
align-items: end;
gap: 2vh;
}
footer section:nth-child(1) div input {
    text-align: right;
    width: 90%;
    border: none;
    background: none;
    border-bottom:1px solid #6F2DBD;
    font-size: x-large;
    padding: 1%;
}
footer section:nth-child(1) div label {
font-size: xx-large;
color: aliceblue;
}
footer section:nth-child(1) div button {
    border: #6F2DBD 1px solid;
    color: aliceblue;
    background: none;
    border-radius: 8px;
    width:35%;
    height: 15%;
    transition: 0.3s;
    cursor: pointer;
}
footer section:nth-child(1) div button:hover{
    background: aliceblue;
    color: #6F2DBD;
    transform: translate(0,-5px);
}

/* جعل التنسيقات المشتركة متناسقة مع الجوال */
@media (max-width:500px) {
    header nav ul {
        display: none;
    }

    header div button {
        display: none;
    }

    header div {
        gap: 10%;
    }

    header>nav {
        justify-content: right;
    }

    header>nav>div>span {
        width: 100%;
        height: 4px;
        background-color: #B9FAF8;
    }

    .main-click {
        flex-direction: column;
        gap: 20%;
        display: flex;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .main-menu {
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #b9faf8e5;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 0;
        transition: 0.3s;
        display: flex;
    }

    .main-menu ul {
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .main-menu li {
        list-style: none;
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-menu li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #111;
        font-size: 2rem;
        transition: 0.4s;
    }

    .main-menu li a:hover {
        color: #6F2DBD;
    }

    .show-menu {
        height: 60vh;
        transition: 0.3s;
    }

    ::-webkit-scrollbar {
        width: 1px;
    }
}