*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------تنسيق القائمة العلوية----------------------------------------------- */
header{}
header > nav{}
/* --------------------------------------تنسيق اسفل الصفحة----------------------------------------------- */
footer{

}