section:nth-child(1){
    width: 100%;
    height: 45vh;
    background: url(../img/sabq_2022-03_322b6309-e59a-405d-99c9-c08076e98c2b_DC8ED83A_8CEA_445C_838E_733866B26ED1.webp) center no-repeat;
    background-size: cover;
}
section:nth-child(2){
    width: 100%;
    padding: 5%;
    direction: rtl;
}
section:nth-child(2) hgroup h1{
    font-size: 3rem;
}
section:nth-child(2) hgroup p{
    font-size: 1.3rem;
}
span{
    color: #956C9E;
}


